<footer class="navbar navbar-default">
    <!-- Company Information -->
    <div class="col-md-10 col-md-offset-1">
        <div class="pull-left">
            Copyright © {{ getConfig('appName') }}
            - <a href="/terms">Terms Of Service</a>
            - <a href="/privacy">Privacy Policy</a>
        </div>

        <!-- Social Icons -->
        <div class="pull-right splash-footer-social-icons">
            <a href="http://facebook.com">
                <i class="fa fa-btn fa-facebook-square"></i>
            </a>
            <a href="http://twitter.com">
                <i class="fa fa-btn fa-twitter-square"></i>
            </a>
            <a href="http://github.com">
                <i class="fa fa-github-square"></i>
            </a>
        </div>

        <div class="clearfix"></div>
    </div>
</footer>
